.carousel {
  position: relative;
  width: 90vw;
  height: 300px;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel img.visible {
  opacity: 1;
}
