.socialIcons {
  display: flex;
  /* gap: 2rem; */
}

.socialIcons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: background-color 150ms ease-in-out;
}

.socialIcons > *:hover {
  background-color: var(--light-navy);
}
