.container {
  display: grid;
  gap: 2rem;
}

.form {
  display: grid;
  gap: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .container {
    border-right: 1px solid var(--slate);
    padding-right: 2rem;
  }
}
