form {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  border: 1px solid var(--navy);
  border-radius: 100px;
  padding: 5px 30px 5px 15px; /* Add right padding to prevent text overlay with icon */
  background: none;
  color: var(--white);
}

input::placeholder {
  font-size: 1.2rem;
}

.button {
  padding: 0;
  position: absolute;
  right: 10px; /* Adjust this value to move the button horizontally */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the button */
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1.4rem;
}

.button:hover {
  color: lightgray; /* Change icon color on hover */
}
