.container {
  margin: 6rem auto;
  width: 90%;
  max-width: 500px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
}

.loginForm {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}

.inputGroup {
  display: grid;
  gap: 1rem;
}

.inputGroup label {
  font-size: 1.4rem;
}

.signUpLink {
  font-size: 1.4rem;
  background: none;
  border: none;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

.linkButton {
  font-size: 1.4rem;
  background: none;
  border: none;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

.button {
  /* Your styles for the button */
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: rgb(63, 63, 63);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-image: url("../../images/Button_Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.error {
  color: var(--errorRed);
}

@media (min-width: 768px) {
  .container {
    margin-top: 16rem;
  }

  .heading {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
}
